.searchContainer{
    display: flex;
    justify-self: center;
}

.searchBox{
    position: relative;
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}

.searchInput{
    height: 35;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    border: 1px solid white;
}

.searchInput:focus, .searchButton{
    outline: none;
    border: 1px solid magenta;
    box-shadow: 0 0 5px mediumorchid;
}