.tittle{
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px rgb(124, 41, 41), 0 0 20px #fff, 0 0 30px #e62300, 0 0 40px #e62300,
    0 0 50px #e62300, 0 0 60px #e62300, 0 0 70px #e62300;
}

